/* Style for the video section */
.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 60px;
  /* Adjust the height as needed */

  /* Añadimos las siguientes propiedades para evitar problemas en dispositivos móviles */
  min-height: 300px;
  /* Establecemos una altura mínima para el contenedor del video */
}

.video2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: none;
  /* Adjust the height as needed */

  /* Añadimos las siguientes propiedades para evitar problemas en dispositivos móviles */
  min-height: 300px;
  /* Establecemos una altura mínima para el contenedor del video */
}



/* Adjust the size of the images and their container */
.portfolio-item {
  max-width: 300px;
  /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -70px;
}

.navbar-logo {
  width: 360px;
  height: 110px;
  margin-top: 40px;
}

/* Your other CSS styles... */

.left-text {
  margin-right: 10px;
  /* Ajusta el margen derecho según tus preferencias */
  font-size: 16px;
  /* Tamaño de fuente deseado */
  font-weight: bold;
  /* Opcional: Ajusta el grosor de la fuente según tus preferencias */
}

.los-boulevares {
  text-align: left;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}


.cordoba-argentina {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

/* Estilos para computadora */
.music {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-size: 20px;
  text-align: center;
  color: white;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .music {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-size: 13px;
    text-align: center;
    color: white;
  }
  .los-boulevares {
    text-align: left;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
  }
  .video2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    /* Adjust the height as needed */
  
    /* Añadimos las siguientes propiedades para evitar problemas en dispositivos móviles */
    min-height: 300px;
    /* Establecemos una altura mínima para el contenedor del video */
  }


.play-button {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: rgb(23 22 22 / 70%);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
  
}


.carousel-container {
  margin-bottom: 20px;
}

.rectangulo-gris {
  background-color: rgba(128, 128, 128, 0.148); /* 0.5 es el valor de transparencia (50%) */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: auto;
}


.los-boulevares, .music {
  margin: 0;
}

.custom-video-container {
  position: relative;
  width: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: yellow;
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.play-button:hover {
  opacity: 0.8;
}

.rotating {
  animation: rotateAnimation 2s infinite linear;
}

@keyframes rotateAnimation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
